#header-text-2 .bg {
    background-image: url('../images/aerial-shot-of-blue-water-3894157.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 0.47;
}